@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@theme {
  --font-serif4: "Source Serif 4", serif;
}

@font-face {
  font-family: 'logo';
  src: url('/src/assets/fonts/logo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
